.venv
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
.ipynb_checkpoints
*.ipynb
.DS_Store
.vscode
.idea
*.md
justfile
scripts
cluster_config.json
scripts/docker-compose.yml
